# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Environments
.env
.env.*
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# macOS specific
# resource forks
._*
.AppleDouble
# Spotlight index
.Spotlight-V100/
# Trash
.Trashes/
# Time Machine / document revisions
.DocumentRevisions-V100/
# File system events
.fseventsd/
# Volume icon
.VolumeIcon.icns
# Temporary items
.TemporaryItems/
# Apple DB / desktop
.AppleDB
.AppleDesktop
# ApDisk (older mac disks)
.apdisk

# Jupyter
.ipynb_checkpoints

# Other
*.bak
*.swp
*.tmp

# Ignore bestfit folder if needed
bestfit/
