# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Environments
.env
.env.*
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Other
*.bak
*.swp
*.tmp

# Ignore bestfit folder if needed
bestfit/
